nav.navbar.navbar-defulat
  .container
    .navbar-header
      a.navbar-brand(ui-sref="main") Admin
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(ui-sref="topic") Topic
        li
          a(href="#") Posts
      ul.nav.navbar-nav.navbar-right
        li
          a(ui-sref="login" ng-if="!$header.auth") Login
          a(ng-click="$header.logout()" ng-if="$header.auth") Logout


