form(ng-submit="$login.login()")
  .input-group
    lable login
    input.form-control(type="text" ng-model="$login.name")
  .input-group
    label pass
    input.form-control(type="text" ng-model="$login.password")
  button.btn.btn-primary(type="submit") Send