.mdl
  h1 Create topic
  form(ng-submit="$mdl.ok()")
    .input-group
      .label Title
      input.form-control(type="text" ng-model="$mdl.data.title")
    .input-group
      .label Description
      textarea(ng-model="$mdl.data.description")
    button.btn.btn-success(type="submit") Save
    button.btn.btn-default(type="button" ng-click="$mdl.close()") Close