.row
  h1.col-md-6 Topics
  button.btn.btn-default.pull-right(type="button" ng-click="$topic.openCreate()") Create topic
.row
  table.col-md-12.table.table-striped
    thead
      th #
      th Title
      th Description
      th Created
    tbody
      tr(ng-repeat="item in $topic.topics")
        td(ng-bind="$index + 1")
        td(ng-bind="item.title")
        td(ng-bind="item.description")
        td(ng-bind="item.createdFormat")