alert
  .alerts
    position: fixed
    top: 100px
    right 100px
    width 400px
    .alert
      width 100%
      float right
      list-style none
      position: relative
      &.ng-enter, &.ng-leave, &.ng-move
        transition: all 1s ease-in-out
      &.ng-enter.ng-enter-active, &.ng-leave, &.ng-move.ng-move-active
        right 0
      &.ng-leave.ng-leave-active, &.ng-enter, &.ng-move
        right -500px
