ul.alerts
  li.alert(
    uib-alert
    ng-repeat="alert in alerts"
    ng-class="'alert-' + (alert.type || 'warning')"
    close="closeAlert($index)"
    dismiss-on-timeout="{{alert.dismiss}}"
  ) {{alert.msg}}

//.alert(
    uib-alert
    ng-class="'alert-' + (alert.type || 'warning')"
    close="closeAlert()"
    dismiss-on-timeout="{{alert.dismiss}}"
    ng-if="alert"
  //) {{alert.msg}}
