doctype html
html(ng-app="app")
  head
    base(href="/")
    meta(charset="utf-8")
    title Admin
    link(rel="stylesheet" href="css/index.css")
  body
    ui-view
    script(src="js/admin.bundle.js")
